


<nav class="navbar navbar-inverse">
	
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			<!--	<a class="navbar-brand" href="#">MetHotel</a> -->
			</div>

			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a routerLink="/home" routerLinkActive="active">Home</a></li>
					<li><a routerLink="/forma" routerLinkActive="active">Forma</a></li>
					<li><a routerLink="/carousel" routerLinkActive="active">Galerija</a></li>
					<li><a routerLink="/tabela" routerLinkActive="active">Ponuda</a></li>
					<!--	</ul>
					<ul class="nav navbar-nav navbar-right">
				-->
				<li><a routerLink="/signup" routerLinkActive="active">Sign up</a></li>
				<li><a routerLink="/login" routerLinkActive="active">Log in</a></li>
			</ul>
		</div>

	</div>
</nav>
