

<div class="container">
	<h2>Rezervacija sobe</h2>

  <form class="form-horizontal">

 	<!--<form role="form">-->
	  <div class="form-group">
		<label>Izaberite tip sobe:</label>
		<select class="form-control">
			<option>Jednokrevetna Soba</option>
			<option>Dvokrevetna Soba</option>
			<option>Trokrevetna Soba</option>
		</select>
	 </div>

		<div class="form-group">
			<label for="email">Ime i prezime:</label>
			<input type="email" class="form-control" id="email" placeholder="Unesite ime i prezime">
		</div>

		<div class="form-group">
			<label for="email">Email:</label>
			<input type="email" class="form-control" id="email" placeholder="Unesite email">
		</div>

		<div class="form-group"> <!-- Date input -->
			<label class="control-label" for="date">Check in date : </label>
			<input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
		</div>

		<div class="form-group"> <!-- Date input -->
			<label class="control-label" for="date">Check out date : </label>
			<input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
		</div>

		<div class="checkbox">
			<label><input type="checkbox"> Hitno mi odgovorite!</label>
		</div>



		<button type="submit" class="btn btn-primary">Proveri dostupnost</button>
	</form>


</div>

<script>
		$(document).ready(function(){
			var date_input=$('input[name="date"]'); //our date input has the name "date"
			var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
			var options={
				format: 'mm/dd/yyyy',
				container: container,
				todayHighlight: true,
				autoclose: true,
			};
			date_input.datepicker(options);
		})
	</script>
